.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#notice {
  font-size: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
}


.team-lead {
  width: 700px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.sec {
  /* add border that fits to content */
  width: 700px;
  /* border: 1px solid black; */
  padding: 5px;
  /* pad inbetween items */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  /* width: auto; */
  /* center on page */
  margin: auto;
  /* center the title */
  & > h3 {
    text-align: center;
  }
}

.equipment {
  /* add border that fits to content */
  width: 700px;
  /* border: 1px solid black; */
  padding: 5px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  /* width: auto; */
  /* center on page */
  margin: 0 auto;
  /* center the title */
  & > h3 {
    text-align: center;
  }
  & > .content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  /* select mui textfield components */



}

.employees {
  width: 700px;
  margin: 0 auto;
}

.comments {
  width: 700px;
  margin: 0 auto;
}

.signatures {
  width: 700px;
  margin: 0 auto;
  & > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.submit {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* gap: 20px; */
  justify-content: center;
  /* float: right; */
}

.sigCanvas {
  border: 1px solid black;
  width: 350px;
  height: 100px;
}

.dropdown {
  width: 200px;
  /* center horizontally */
  margin: 0 auto;
}

.client-company {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}